# API

API_PORT=3000

# MONGO

MONGO_USERNAME=admin
MONGO_PASSWORD=admin
MONGO_HOST='127.0.0.1'
MONGO_PORT=27017
MONGO_DATABASE='base'

# GRAYLOG

GRAYLOG_FACILITY='Projeto X'
GRAYLOG_HOSTNAME='Local'
GRAYLOG_HOST='127.0.0.1'
GRAYLOG_PORT=12201
GRAYLOG_BUFFER_SIZE=1400

# REDIS

REDIS_PASSWORD='admin'
REDIS_HOST='redis'
REDIS_PORT=6379
