# API

API_PORT=3000

# MONGO

MONGO_USERNAME=admin
MONGO_PASSWORD=admin
MONGO_HOST='127.0.0.1'
MONGO_PORT=27017
MONGO_DATABASE='base'

# GRAYLOG

GRAYLOG_FACILITY='Projeto X'
GRAYLOG_HOSTNAME='Local'
GRAYLOG_HOST='127.0.0.1'
GRAYLOG_PORT=12201
GRAYLOG_BUFFER_SIZE=1400

# REDIS

REDIS_PASSWORD=''
REDIS_HOST='127.0.0.1'
REDIS_PORT=6379

# QUEUE

QUEUE_RETRY_ATTEMPTS=3
QUEUE_RETRY_DELAY=5000


# SMTP

MAIL_SMTP_HOST='127.0.0.1'
MAIL_SMTP_PORT=1025
MAIL_SMTP_USER=''
MAIL_SMTP_PASSWORD=''
MAIL_SMTP_FROM_NAME='Project X'
MAIL_SMTP_FROM_ADDRESS='projectx@mail.com'